* {
    margin: 0;
    padding: 0;
    font-family: "Rosario", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Paleta de cores */
.paleta {
    color: #a6a6a6;
    color: #ff3131;
    color: #779f00;
    color: #000;
    color: #fff;
}


/* Fonte */
.fonte {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000;
}


a {
    text-decoration: none !important;
}


/* Menu */
.custom-navbar {
    padding-top: 10px;
    background-color: #000;
}

.container-fluid {
    position: fixed;
    /* Mantém o menu fixo na viewport */
    top: 0;
    /* Alinha ao topo da tela */
    width: 100%;
    /* Faz o menu ocupar toda a largura da tela */
    z-index: 1000;
    /* Mantém o menu acima de outros elementos */
    background-color: #000000e6;
}

.custom-navbar .nav-link {
    color: #fff;
}

.custom-navbar .nav-link:hover {
    color: #a6a6a6;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #a6a6a6;
    color: #000;
}

.dropdown-title {
    margin-left: 10px;
    color: #779f00;
}

.menu-botao {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(img/menu-botao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

/* Footer */
.custom-footer {
    background-color: #000;
    color: #779f00;
}


/* Conteudo  */
.conteudo {
    padding-top: 50px;
    background-color: #000;
    padding-bottom: 40px;
}

h1.title {
    color: #779f00;
}

h2.title {
    color: #779f00;
}

h3.title {
    color: #779f00;
}

h4.title {
    color: #779f00;
}

p.text {
    color: #fff;
}

hr.linha {
    margin-inline: 10%;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
}

hr.linha1 {
    margin-inline: 10%;
    border: 1px dotted #a6a6a6;
    border-radius: 2px;
}

hr.linhaC {
    color: transparent;
}

.txt {
    margin-inline: 5%;
    font-family: "Rosario", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Index */
.flexbox-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-flexbox-index img {
    width: 100%;
    border-radius: 5px;
}

.img-center {
    display: grid;
    place-items: center;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
}

img.img {
    border-radius: 5px;
    padding: 5px;
}

.direita {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-index {
    text-align: center;
}

.info-index ul {}

.info-index li:hover {
    transform: scale(1.075);
    border-radius: 5px;
}

.info-index li {
    margin-bottom: 3%;
    text-align: left !important;
    transition: transform 0.3s ease;
}

.termos-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.termos-index li:hover {
    transform: scale(1.05);
    border-radius: 10px;
    color: #a6a6a6 !important;
    background-color: #3636362d;
}

.termos-index li {
    margin-bottom: 3%;
    padding: 5px;
    text-align: left !important;
    transition: transform 0.3s ease;
}

.flexbox-img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.item-flexbox-img img {
    gap: auto;
    width: 100%;
    margin-inline: auto;
}


/* Para celulares e tablets */

@media screen and (max-width: 1024px),
screen and (orientation: portrait) {
    .flexbox-index {
        flex-direction: column;
    }

    .item-flexbox-index {
        width: 100% !important;
        height: 100% !important;
    }

    .item-flexbox-index img {
        padding-left: 0px;
    }

    hr.linhaC {
        margin-inline: 10%;
        border: 2px solid #a6a6a6;
        border-radius: 2px;
    }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
    .flexbox-index {
        flex-direction: column;
    }

    .termos-index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .item-flexbox-index {
        width: 100% !important;
        height: 100% !important;
    }

    .item-flexbox-index img {
        padding-left: 0px;
    }

    hr.linhaC {
        margin-inline: 10%;
        border: 2px solid #a6a6a6;
        border-radius: 2px;
    }
}